<!-- HTML template for the NotFoundComponent -->
<mat-card>
    <mat-card-header>
        <mat-card-title>Fehlerhafter Link</mat-card-title>
        <mat-card-subtitle>
            Die Seite kann nicht gefunden werden
        </mat-card-subtitle>
        <img mat-card-avatar src='favicon.ico'>
    </mat-card-header>
    <mat-card-content>
        <p>
            Bitte überprüfe den Link, mit dem du auf diese Seite 
            gekommen bist.  Wenn du diese Seite über einen Knopf in 
            der App erreicht hast, wende dich bitte an unser 
            Supportteam, damit wir das Problem beheben können.<!--
        --></p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button (click)='location.back()'>
            Zurück
            <mat-icon>arrow_back</mat-icon>
        </a>
        <a mat-button color='primary' [appLink]='null'>
            Dashboard
            <mat-icon>dashboard</mat-icon>
        </a>
    </mat-card-actions>
</mat-card>

