<!-- HTML template for the PageComponent -->
<div *ngIf='page'>
    <div>
        <h1>
            {{page.name}}
            <small>
                <span>
                    <br>
                    <span
                            [mdTooltip]='page.likeTooltip'
                            mdTooltipShowDelay='1500'
                            mdTooltipHideDelay='1500'>
                        <span class='text-primary'>
                            <md-icon>thumb_up</md-icon>
                        </span>
                        <span class='text-accent'>
                            {{page.fan_count || 0}}
                        </span>
                    </span>
                </span>
                <span *ngIf='page.talking_about_count'>
                    <br>
                    <span
                            [mdTooltip]='page.talkingAboutTooltip'
                            mdTooltipShowDelay='1500'
                            mdTooltipHideDelay='1500'>
                        <span class='text-primary'>
                            <md-icon>forum</md-icon>
                        </span>
                        <span class='text-accent'>
                            {{page.talking_about_count}}
                        </span>
                    </span>
                </span>
                <span *ngIf='page.overall_star_rating'>
                    <br>
                    <span
                            [mdTooltip]='page.ratingTooltip'
                            mdTooltipShowDelay='1500'
                            mdTooltipHideDelay='1500'>
                        <span class='text-primary'>
                            <md-icon>star</md-icon>
                        </span>
                        <span class='text-accent'>
                            {{page.overall_star_rating}}
                        </span>
                        <span class='text-primary'>
                            (<md-icon>people</md-icon>{{+page.rating_count}})
                        </span>
                    </span>
                </span>
            </small>
        </h1>
        <p *ngIf='page.description'>
            <em>{{page.description}}</em>
        </p>
    </div>
    <displacer>
        <span class='app-action'>
            <button md-fab (click)='openPostDialog()'>
                <md-icon>create</md-icon>
            </button>
        </span>
    </displacer>
    <div>
        <md-tab-group *ngIf='appUxService.cols == 4'>
            <md-tab>
                <ng-template md-tab-label>
                    <md-icon>archive</md-icon>
                </ng-template>
                <h2>Posts auf deiner Seite</h2>
                <posts [posts]='newPosts' loaded='true'></posts>
                <endless-list #postsHandset [input]='posts'>
                    <posts [posts]='postsHandset.output'></posts>
                </endless-list>
            </md-tab>
            <md-tab>
                <ng-template md-tab-label>
                    <md-icon>inbox</md-icon>
                </ng-template>
                <h2>Posts mit deiner Seite</h2>
                <posts [posts]='tagged'></posts>
            </md-tab>
            <md-tab>
                <ng-template md-tab-label>
                    <md-icon>hourglass_full</md-icon>
                </ng-template>
                <h2>Geplante Posts</h2>
                <missing-feature></missing-feature>
            </md-tab>
            <md-tab>
                <ng-template md-tab-label>
                    <md-icon>drafts</md-icon>
                </ng-template>
                <h2>Entwürfe für Posts</h2>
                <missing-feature></missing-feature>
            </md-tab>
        </md-tab-group>
        <md-tab-group *ngIf='appUxService.cols == 8'>
            <md-tab>
                <ng-template md-tab-label>
                    <md-icon>public</md-icon>
                    Veröffentlichte Posts
                </ng-template>
                <div class='flex'>
                    <div class='flex-6-cols'>
                        <h2>Posts auf deiner Seite</h2>
                        <posts [posts]='newPosts' loaded='true'></posts>
                        <endless-list #postsTablet [input]='posts'>
                            <posts [posts]='postsTablet.output'></posts>
                        </endless-list>
                    </div>
                    <div class='flex-6-cols'>
                        <h2>Posts mit deiner Seite</h2>
                        <posts [posts]='tagged'></posts>
                    </div>
                </div>
            </md-tab>
            <md-tab>
                <ng-template md-tab-label>
                    <md-icon>lock</md-icon>
                    Zukünftige Posts
                </ng-template>
                <div class='flex'>
                    <div class='flex-6-cols'>
                        <h2>Geplante Posts</h2>
                        <missing-feature></missing-feature>
                    </div>
                    <div class='flex-6-cols'>
                        <h2>Entwürfe für Posts</h2>
                        <missing-feature></missing-feature>
                    </div>
                </div>
            </md-tab>
        </md-tab-group>
        <div *ngIf='appUxService.cols == 12'>
            <div class='flex'>
                <div class='flex-4-cols'>
                    <h2>Posts auf deiner Seite</h2>
                    <posts [posts]='newPosts' loaded='true'></posts>
                    <endless-list #postsDesktop [input]='posts'>
                        <posts [posts]='postsDesktop.output'></posts>
                    </endless-list>
                </div>
                <div class='flex-4-cols'>
                    <h2>Posts mit deiner Seite</h2>
                    <posts [posts]='tagged'></posts>
                </div>
                <div class='flex-4-cols'>
                    <h2>Geplante Posts</h2>
                    <missing-feature></missing-feature>
                    <h2>Entwürfe für Posts</h2>
                    <missing-feature></missing-feature>
                </div>
            </div>
        </div>
    </div>
</div>
