<!-- HTML template for the PageComponent -->
<div *ngIf='page'>
    <cover-photo [cover]='page.cover'></cover-photo>
    <div>
        <h1>
            <img [src]='page.picture'>
            {{page.name}}
            <small>
                <span>
                    <br>
                    <span
                            [matTooltip]='page.likeTooltip'
                            matTooltipShowDelay='1500'
                            matTooltipHideDelay='1500'>
                        <span class='text-primary'>
                            <mat-icon>thumb_up</mat-icon>
                        </span>
                        <span class='text-accent'>
                            {{page.fan_count || 0}}
                        </span>
                    </span>
                </span>
                <span *ngIf='page.talking_about_count'>
                    <br>
                    <span
                            [matTooltip]='page.talkingAboutTooltip'
                            matTooltipShowDelay='1500'
                            matTooltipHideDelay='1500'>
                        <span class='text-primary'>
                            <mat-icon>forum</mat-icon>
                        </span>
                        <span class='text-accent'>
                            {{page.talking_about_count}}
                        </span>
                    </span>
                </span>
                <span *ngIf='page.overall_star_rating'>
                    <br>
                    <span
                            [matTooltip]='page.ratingTooltip'
                            matTooltipShowDelay='1500'
                            matTooltipHideDelay='1500'>
                        <span class='text-primary'>
                            <mat-icon>star</mat-icon>
                        </span>
                        <span class='text-accent'>
                            {{page.overall_star_rating}}
                        </span>
                        <span class='text-primary'>
                            (<mat-icon>people</mat-icon>{{+page.rating_count}})
                        </span>
                    </span>
                </span>
            </small>
        </h1>
    </div>
    <div>
        <p *ngIf='page.description'>
            <em>{{page.description}}</em>
        </p>
    </div>
    <displacer>
        <span class='app-action'>
            <button mat-fab (click)='openPostDialog()'>
                <mat-icon>create</mat-icon>
            </button>
        </span>
    </displacer>
    <div>
        <mat-tab-group *ngIf='appUxService.cols == 4'>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>archive</mat-icon>
                </ng-template>
                <h2>Posts auf deiner Seite</h2>
                <mat-spinner *ngIf='pending' color='accent'></mat-spinner>
                <posts [posts]='newPosts' loaded='true'></posts>
                <endless-list #postsHandset [input]='posts'>
                    <posts [posts]='postsHandset.output'></posts>
                </endless-list>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>inbox</mat-icon>
                </ng-template>
                <h2>Posts mit deiner Seite</h2>
                <posts [posts]='tagged'></posts>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>hourglass_full</mat-icon>
                </ng-template>
                <h2>Geplante Posts</h2>
                <missing-feature></missing-feature>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>drafts</mat-icon>
                </ng-template>
                <h2>Entwürfe für Posts</h2>
                <missing-feature></missing-feature>
            </mat-tab>
        </mat-tab-group>
        <mat-tab-group *ngIf='appUxService.cols == 8'>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>public</mat-icon>
                    Veröffentlichte Posts
                </ng-template>
                <div class='flex'>
                    <div class='flex-6-cols'>
                        <h2>Posts auf deiner Seite</h2>
                        <mat-spinner *ngIf='pending' color='accent'></mat-spinner>
                        <posts [posts]='newPosts' loaded='true'></posts>
                        <endless-list #postsTablet [input]='posts'>
                            <posts [posts]='postsTablet.output'></posts>
                        </endless-list>
                    </div>
                    <div class='flex-6-cols'>
                        <h2>Posts mit deiner Seite</h2>
                        <posts [posts]='tagged'></posts>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>lock</mat-icon>
                    Zukünftige Posts
                </ng-template>
                <div class='flex'>
                    <div class='flex-6-cols'>
                        <h2>Geplante Posts</h2>
                        <missing-feature></missing-feature>
                    </div>
                    <div class='flex-6-cols'>
                        <h2>Entwürfe für Posts</h2>
                        <missing-feature></missing-feature>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
        <div *ngIf='appUxService.cols == 12'>
            <div class='flex'>
                <div class='flex-4-cols'>
                    <h2>Posts auf deiner Seite</h2>
                    <mat-spinner *ngIf='pending' color='accent'></mat-spinner>
                    <posts [posts]='newPosts' loaded='true'></posts>
                    <endless-list #postsDesktop [input]='posts'>
                        <posts [posts]='postsDesktop.output'></posts>
                    </endless-list>
                </div>
                <div class='flex-4-cols'>
                    <h2>Posts mit deiner Seite</h2>
                    <posts [posts]='tagged'></posts>
                </div>
                <div class='flex-4-cols'>
                    <h2>Geplante Posts</h2>
                    <missing-feature></missing-feature>
                    <h2>Entwürfe für Posts</h2>
                    <missing-feature></missing-feature>
                </div>
            </div>
        </div>
    </div>
</div>
