<!-- HTML template for the PostDialogComponent -->
<h2 mat-dialog-title>
    <span *ngIf='page' class='desktop-only'>{{page.name}}:</span>
    Post erstellen
</h2>
<mat-dialog-content>
    <mat-input-container>
        <textarea
                matInput
                matTextareaAutosize
                [(ngModel)]='text'
                placeholder="Schreib etwas...">
        </textarea>
    </mat-input-container>
    <mat-tab-group [(selectedIndex)]='selectedIndex' dynamicHeight>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>insert_link</mat-icon>
                <span class='desktop-only'>Link hinzufügen</span>
            </ng-template>
            <mat-input-container>
                <input
                        matInput
                        [(ngModel)]='link'
                        placeholder="Füge einen Link hinzu...">
            </mat-input-container>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>insert_photo</mat-icon>
                <span class='desktop-only'>Bild hinzufügen</span>
            </ng-template>
            <file
                    [(ressource)]='photo'
                    [fileSizeLimit]='10 * 1024 * 1024'
                    accept='image/*'>
            </file>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>movie</mat-icon>
                <span class='desktop-only'>Video hinzufügen</span>
            </ng-template>
            <file
                    [(ressource)]='video'
                    [fileSizeLimit]='1 * 1024 * 1024 * 1024'
                    accept='video/*'>
            </file>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
    <button
            *ngIf='page'
            mat-button
            [disabled]='!ressource && !text'
            (click)='post()'
            color='primary'>
        Post erstellen
        <mat-icon>publish</mat-icon>
    </button>
    <button
            mat-button
            [mat-dialog-close]='undefined'>
        Abbrechen
        <mat-icon>cancel</mat-icon>
    </button>
</mat-dialog-actions>

