<!-- HTML template for the PostDialogComponent -->
<h1 md-dialog-title>Post erstellen</h1>
<md-dialog-content>
    <md-input-container>
        <textarea
                mdInput
                mdTextareaAutosize
                [(ngModel)]='text'
                placeholder="Schreib etwas...">
        </textarea>
    </md-input-container>
    <md-tab-group [(selectedIndex)]='selectedIndex' dynamicHeight>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon>insert_link</md-icon>
                Link hinzufügen
            </ng-template>
            <md-input-container>
                <input
                        mdInput
                        [(ngModel)]='link'
                        placeholder="Füge einen Link hinzu...">
            </md-input-container>
        </md-tab>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon>insert_photo</md-icon>
                Bild hinzufügen
            </ng-template>
            <file
                    [(ressource)]='photo'
                    [fileSizeLimit]='10 * 1024 * 1024'
                    accept='image/*'>
            </file>
        </md-tab>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon>movie</md-icon>
                Video hinzufügen
            </ng-template>
            <file
                    [(ressource)]='video'
                    [fileSizeLimit]='1 * 1024 * 1024 * 1024'
                    accept='video/*'>
            </file>
        </md-tab>
    </md-tab-group>
</md-dialog-content>
<md-dialog-actions>
    <button
            *ngIf='page'
            md-button
            [disabled]='!ressource && !text'
            (click)='post()'
            color='primary'>
        Post erstellen
        <md-icon>publish</md-icon>
    </button>
    <button
            md-button
            [md-dialog-close]='undefined'>
        Abbrechen
        <md-icon>cancel</md-icon>
    </button>
</md-dialog-actions>

