<!-- HTML template for the ProfileComponent -->
<div *ngIf='profile'>
    <div>
        <cover-photo [cover]='profile.cover'></cover-photo>
    </div>
    <div>
        <h1>
            <img [src]='profile.picture'>
            {{profile.name}}
            <small *ngIf='isPage'>
                <span *ngIf='profile.fan_count'>
                    <br>
                    <span
                            [matTooltip]='profile.likeTooltip'
                            matTooltipShowDelay='1500'
                            matTooltipHideDelay='1500'>
                        <span class='text-primary'>
                            <mat-icon>thumb_up</mat-icon>
                        </span>
                        <span class='text-accent'>
                            {{profile.fan_count}}
                        </span>
                    </span>
                </span>
                <span *ngIf='profile.talking_about_count'>
                    <br>
                    <span
                            [matTooltip]='profile.talkingAboutTooltip'
                            matTooltipShowDelay='1500'
                            matTooltipHideDelay='1500'>
                        <span class='text-primary'>
                            <mat-icon>forum</mat-icon>
                        </span>
                        <span class='text-accent'>
                            {{profile.talking_about_count}}
                        </span>
                    </span>
                </span>
                <span *ngIf='profile.overall_star_rating'>
                    <br>
                    <span
                            [matTooltip]='profile.ratingTooltip'
                            matTooltipShowDelay='1500'
                            matTooltipHideDelay='1500'>
                        <span class='text-primary'>
                            <mat-icon>star</mat-icon>
                        </span>
                        <span class='text-accent'>
                            {{profile.overall_star_rating}}
                        </span>
                        <span class='text-primary'>
                            (<mat-icon>people</mat-icon>{{+profile.rating_count}})
                        </span>
                    </span>
                </span>
            </small>
            <small *ngIf='isUser'>
                <span>
                    <br>
                    <span
                            class='text-accent'
                            [matTooltip]='profile.ageTooltip'
                            matTooltipShowDelay='1500'
                            matTooltipHideDelay='1500'>
                        {{profile.ageString}}
                    </span>
                    <span class='text-primary'>/</span>
                    <span
                            class='text-accent'
                            [matTooltip]='profile.sexTooltip'
                            matTooltipShowDelay='1500'
                            matTooltipHideDelay='1500'>
                        {{profile.sexString}}
                    </span>
                    <span class='text-primary'>/</span>
                    <span
                            class='text-accent'
                            [matTooltip]='profile.locationTooltip'
                            matTooltipShowDelay='1500'
                            matTooltipHideDelay='1500'>
                        {{profile.locationString}}
                    </span>
                </span>
            </small>
        </h1>
    </div>
    <div>
        <p *ngIf='profile.description'>
            <em>{{profile.description}}</em>
        </p>
    </div>
    <div>
        <endless-list #posts [input]='feed'>
            <posts
                    [posts]='posts.output'
                    [cols]='appUxService.cardWidth'>
            </posts>
        </endless-list>
    </div>
</div>

