
/*
 * Styling for the DashboardComponent.
 *
 * This is a style locally applied to DashboardComponent.  All styles specific 
 * to the DashboardComponent are loaded here.
 *
 * This stylesheet contains at-rules only. The actual rules should go into the 
 * _dashboard.component partial, to keep things easier to restructure.
 */

@import '../mixins';
@import '../colors';
@import '_dashboard.component';

