
/*
 * Styling for the FileComponent.
 *
 * This is a style locally applied to FileComponent.  All styles specific to the 
 * FileComponent are loaded here.
 *
 * This stylesheet contains at-rules only. The actual rules should go into the 
 * _file.component partial, to keep things easier to restructure.
 */

@import '../mixins';
@import '../colors';
@import '_file.component';

