
/*
 * Styling for the NotFoundComponent.
 *
 * This is a style locally applied to NotFoundComponent.  All styles specific to 
 * the NotFoundComponent are loaded here.
 *
 * This stylesheet contains at-rules only. The actual rules should go into the 
 * _not-found.component partial, to keep things easier to restructure.
 */

@import '../mixins';
@import '../colors';
@import '_not-found.component';

