
/*
 * Misc styling.
 *
 * This includes all styles that fit nowhere else.
 */

*, *:after, *:before {
    @include box-sizing(border-box);
}

[class*='col-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}

[class*='col-']:last-of-type {
    padding-right: 0;
}

a {
    text-decoration: none;
}

a:visited, a:link, a.active {
    color: inherit;
}

.hidden {
    display: none;
}

button {
    @include shade($primary-palette, $primary-shade);
    margin-top: 20px;
    font-family: Arial;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}

button:hover {
    @include shade($primary-palette, 100);
}

button:disabled {
    background-color: #eee;
    color: #ccc; 
    cursor: auto;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #999;
    margin-bottom: 0;
}

h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}

h3 {
    text-align: center;
    margin-bottom: 0;
}

h4 {
    position: relative;
}

input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
}

nav {
    a {
        padding: 5px 10px;
        text-decoration: none;
        margin-top: 10px;
        display: inline-block;
        background-color: #eee;
        border-radius: 4px;
    }

    a:hover {
        color: #039be5;
        background-color: #CFD8DC;
    }
}

.col-1-4 {
    width: 25%;
}

.grid {
    margin: 0;
}

.grid-pad {
    padding: 10px 0;
}

.grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
}

.invisible {
    opacity: 0;
}

.pages {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;

    li {
        cursor: pointer;
        position: relative;
        left: 0;
        background-color: #EEE;
        margin: .5em;
        border-radius: 4px;
    }

    li.selected:hover {
        background-color: #BBD8DC !important;
        color: white;
    }

    li:hover {
        color: #607D8B;
        background-color: #DDD;
        left: .1em;
    }

    .text {
        position: relative;
        top: -3px;
    }

    .badge {
        display: inline-block;
        font-size: small;
        color: white;
        padding: 0.8em 0.7em;
        background-color: #607D8B;
        left: -1px;
        top: -4px;
        margin-right: .8em;
        border-radius: 4px 0 0 4px;
    }
}

.module {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: #607D8B;
    border-radius: 2px;
}

.module:hover {
    background-color: #EEE;
    cursor: pointer;
    color: #607d8b;
}

.selected {
    background-color: #CFD8DC !important;
    color: white;
}

#preload_content {
    width: 35em;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .module {
        font-size: 10px;
        max-height: 75px;
    }
}

@media (max-width: 1024px) {
    .grid {
        margin: 0;
    }

    .module {
        min-width: 60px;
    }
}

