
/*
 * Custom typography.
 *
 * This stylesheet contains all changes to the material typography.
 */

$headline-typo: (
    font-size: 32px,
    line-height: 48px,
    font-weight: 700);

$body-1-typo: (
    font-size: 16px,
    line-height: 24px,
    font-weight: 500);

@mixin typo() {
    @include angular-material-typography(
        mat-typography-config(
            $headline: mat-typography-level(
                map-get($headline-typo, font-size),
                map-get($headline-typo, line-height),
                map-get($headline-typo, font-weight)),
            $body-1: mat-typography-level(
                map-get($body-1-typo, font-size),
                map-get($body-1-typo, line-height),
                map-get($body-1-typo, font-weight))));
}

