<!-- HTML template for the GraphApiErrorComponent -->
<div *ngIf='graphApiError'>
    <p>
        <strong>{{graphApiError.title}}</strong><br>
        <em>{{graphApiError.msg}}</em><br>
    </p>
    <div class='app-snackbar-actions'>
        <button mat-button color='primary' (click)='reload()'>
            Seite neu laden
            <mat-icon>refresh</mat-icon>
        </button>
        <button mat-button (click)='matSnackBarRef.dismiss()'>
            Fehler ignorieren
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
</div>

