<!-- HTML template for the InsightComponent -->
<div *ngIf='insight'>
    <mat-table [dataSource]='insight'>
        <ng-container matColumnDef='name'>
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell
                    *matCellDef='let metric'
                    [matTooltip]='metric.description'
                    matTooltipShowDelay='1500'
                    matTooltipHideDelay='1500'>
                {{metric.name}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef='day'>
            <mat-header-cell *matHeaderCellDef>
                <span class='desktop-only'>Gestern</span>
                <span class='mobile-only'>1d</span>
            </mat-header-cell>
            <mat-cell *matCellDef='let metric'>
                {{metric.day || '-'}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef='week'>
            <mat-header-cell *matHeaderCellDef>
                <span class='desktop-only'>7&nbsp;Tage</span>
                <span class='mobile-only'>7d</span>
            </mat-header-cell>
            <mat-cell *matCellDef='let metric'>
                {{metric.week || '-'}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef='days_28'>
            <mat-header-cell *matHeaderCellDef>
                <span class='desktop-only'>28&nbsp;Tage</span>
                <span class='mobile-only'>28d</span>
            </mat-header-cell>
            <mat-cell *matCellDef='let metric'>
                {{metric.days_28 || '-'}}
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef='displayedColumns'></mat-header-row>
        <mat-row *matRowDef='let row; columns: displayedColumns;'></mat-row>
    </mat-table>
</div>

