<!-- HTML template for the LayoutComponent -->
<div [class.dark]='dark'>
    <mat-sidenav-container id='main'>
        <mat-sidenav #nav id='nav' mode='over'>
            <mat-toolbar>
                <span class='app-toolbar-title'>Seiten</span>
            </mat-toolbar>
            <div (click)='nav.close()'>
                <ng-content select='nav'></ng-content>
            </div>
        </mat-sidenav>
        <mat-sidenav
                #aside
                align='end'
                id='aside'
                [mode]='appUxService.asideMode'
                (close)='appRoutingService.params = {post: null}'>
            <mat-toolbar>
                <button
                        mat-button
                        class='app-icon-button back-btn'
                        matTooltip="Zurück"
                        matTooltipShowDelay='1500'
                        matTooltipHideDelay='1500'
                        (click)='aside.close()'>
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <span class='app-toolbar-title'>Details</span>
                <span class='app-toolbar-filler'></span>
                <button
                        mat-button
                        class='app-icon-button'
                        matTooltip="Neu laden"
                        matTooltipShowDelay='1500'
                        matTooltipHideDelay='1500'
                        (click)='appRoutingService.refresh([appService.POST])'>
                    <mat-icon>refresh</mat-icon>
                </button>
                <a
                        mat-button
                        class='button app-icon-button'
                        matTooltip="Facebook"
                        matTooltipShowDelay='1500'
                        matTooltipHideDelay='1500'
                        href='//facebook.com/{{params.post}}'
                        target='_blank'>
                    <mat-icon>open_in_browser</mat-icon>
                </a>
                <button
                        mat-button
                        class='app-icon-button close-btn'
                        matTooltip="Schließen"
                        matTooltipShowDelay='1500'
                        matTooltipHideDelay='1500'
                        (click)='aside.close()'>
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar>
            <ng-content select='aside'></ng-content>
        </mat-sidenav>
        <mat-toolbar>
            <button
                    mat-button
                    class='app-icon-button'
                    matTooltip="Menü"
                    matTooltipShowDelay='1500'
                    matTooltipHideDelay='1500'
                    (click)='nav.open()'>
                <mat-icon>menu</mat-icon>
            </button>
            <span class='app-toolbar-title'>{{title.getTitle()}}</span>
            <span class='app-toolbar-filler'></span>
            <button
                    *ngIf='params.profile'
                    mat-button
                    class='app-icon-button'
                    matTooltip="Neu laden"
                    matTooltipShowDelay='1500'
                    matTooltipHideDelay='1500'
                    (click)='appRoutingService.refresh([appService.PROFILE])'>
                <mat-icon>refresh</mat-icon>
            </button>
            <button
                    *ngIf='page && page.insights'
                    mat-button
                    class='app-icon-button'
                    matTooltip="Statistiken"
                    matTooltipShowDelay='1500'
                    matTooltipHideDelay='1500'
                    (click)='openInsightDialog()'>
                <mat-icon>poll</mat-icon>
            </button>
            <button
                    *ngIf='params.profile'
                    mat-button
                    class='app-icon-button'
                    matTooltip="Dashboard"
                    matTooltipShowDelay='1500'
                    matTooltipHideDelay='1500'
                    [appLink]='{master: null}'>
                <mat-icon>dashboard</mat-icon>
            </button>
            <a
                    mat-button
                    class='button app-icon-button'
                    matTooltip="Facebook"
                    matTooltipShowDelay='1500'
                    matTooltipHideDelay='1500'
                    href='//facebook.com/{{params.profile}}'
                    target='_blank'>
                <mat-icon>open_in_browser</mat-icon>
            </a>
            <button
                    mat-button
                    class='app-icon-button'
                    matTooltip="Einstellungen"
                    matTooltipShowDelay='1500'
                    matTooltipHideDelay='1500'
                    [matMenuTriggerFor]='settings'>
                <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #settings='matMenu'>
                <div mat-menu-item>
                    <mat-slide-toggle [(ngModel)]='dark'>
                        Dark mode
                        <mat-icon>invert_colors</mat-icon>
                    </mat-slide-toggle>
                </div>
            </mat-menu>
        </mat-toolbar>
        <div id='displacer-target'></div>
        <ng-content select='main'></ng-content>
        <router-outlet></router-outlet>
    </mat-sidenav-container>
</div>

