<!-- HTML template for the LayoutComponent -->
<div [class.dark]='dark'>
    <md-sidenav-container id='main'>
        <md-sidenav #nav id='nav' mode='over'>
            <md-toolbar>
                <span class='app-toolbar-title'>Seiten</span>
            </md-toolbar>
            <div (click)='nav.close()'>
                <ng-content select='nav'></ng-content>
            </div>
        </md-sidenav>
        <md-sidenav
                #aside
                align='end'
                id='aside'
                [mode]='appUxService.asideMode'
                (close-start)='appRoutingService.params = {post: null}'>
            <md-toolbar>
                <button
                        md-button
                        class='app-icon-button back-btn'
                        mdTooltip="Zurück"
                        mdTooltipShowDelay='1500'
                        mdTooltipHideDelay='1500'
                        (click)='aside.close()'>
                    <md-icon>arrow_back</md-icon>
                </button>
                <span class='app-toolbar-title'>Details</span>
                <span class='app-toolbar-filler'></span>
                <button
                        md-button
                        class='app-icon-button'
                        mdTooltip="Neu laden"
                        mdTooltipShowDelay='1500'
                        mdTooltipHideDelay='1500'
                        (click)='appRoutingService.refresh([appService.POST])'>
                    <md-icon>refresh</md-icon>
                </button>
                <a
                        md-button
                        class='button app-icon-button'
                        mdTooltip="Facebook"
                        mdTooltipShowDelay='1500'
                        mdTooltipHideDelay='1500'
                        href='//facebook.com/{{params.post}}'
                        target='_blank'>
                    <md-icon>open_in_browser</md-icon>
                </a>
                <button
                        md-button
                        class='app-icon-button close-btn'
                        mdTooltip="Schließen"
                        mdTooltipShowDelay='1500'
                        mdTooltipHideDelay='1500'
                        (click)='aside.close()'>
                    <md-icon>close</md-icon>
                </button>
            </md-toolbar>
            <ng-content select='aside'></ng-content>
        </md-sidenav>
        <md-toolbar>
            <button
                    md-button
                    class='app-icon-button'
                    mdTooltip="Menü"
                    mdTooltipShowDelay='1500'
                    mdTooltipHideDelay='1500'
                    (click)='nav.open()'>
                <md-icon>menu</md-icon>
            </button>
            <span class='app-toolbar-title'>{{title.getTitle()}}</span>
            <span class='app-toolbar-filler'></span>
            <button
                    *ngIf='params.profile'
                    md-button
                    class='app-icon-button'
                    mdTooltip="Neu laden"
                    mdTooltipShowDelay='1500'
                    mdTooltipHideDelay='1500'
                    (click)='appRoutingService.refresh([appService.PROFILE])'>
                <md-icon>refresh</md-icon>
            </button>
            <button
                    *ngIf='page && page.insights'
                    md-button
                    class='app-icon-button'
                    mdTooltip="Statistiken"
                    mdTooltipShowDelay='1500'
                    mdTooltipHideDelay='1500'
                    (click)='openInsightDialog()'>
                <md-icon>poll</md-icon>
            </button>
            <button
                    *ngIf='params.profile'
                    md-button
                    class='app-icon-button'
                    mdTooltip="Dashboard"
                    mdTooltipShowDelay='1500'
                    mdTooltipHideDelay='1500'
                    [appLink]='{master: null}'>
                <md-icon>dashboard</md-icon>
            </button>
            <a
                    md-button
                    class='button app-icon-button'
                    mdTooltip="Facebook"
                    mdTooltipShowDelay='1500'
                    mdTooltipHideDelay='1500'
                    href='//facebook.com/{{params.profile}}'
                    target='_blank'>
                <md-icon>open_in_browser</md-icon>
            </a>
            <button
                    md-button
                    class='app-icon-button'
                    mdTooltip="Einstellungen"
                    mdTooltipShowDelay='1500'
                    mdTooltipHideDelay='1500'
                    [mdMenuTriggerFor]='settings'>
                <md-icon>settings</md-icon>
            </button>
            <md-menu #settings='mdMenu'>
                <div md-menu-item>
                    <md-slide-toggle [(ngModel)]='dark'>
                        Dark mode
                        <md-icon>invert_colors</md-icon>
                    </md-slide-toggle>
                </div>
            </md-menu>
        </md-toolbar>
        <div id='displacer-target'></div>
        <ng-content select='main'></ng-content>
        <router-outlet></router-outlet>
    </md-sidenav-container>
</div>

