<!-- HTML template for the LayoutComponent -->
<div [class.dark]='settingsService.settings.ui.dark'>
    <mat-sidenav-container id='main'>
        <mat-sidenav #nav id='nav' [mode]='appUxService.navMode'>
            <mat-toolbar>
                <span class='app-toolbar-title'>Seiten</span>
                <span class='app-toolbar-filler'></span>
                <button
                        *ngIf='appUxService.navMode === SIDE'
                        mat-button
                        class='app-icon-button close-btn'
                        matTooltip="Schließen"
                        matTooltipShowDelay='1500'
                        matTooltipHideDelay='1500'
                        (click)='nav.close()'>
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar>
            <div
                    class='app-content-wrapper'
                    (click)='appUxService.navMode === OVER && nav.close()'>
                <ng-content select='nav'></ng-content>
            </div>
        </mat-sidenav>
        <mat-sidenav
                #aside
                align='end'
                id='aside'
                [mode]='appUxService.asideMode'
                (close)='appRoutingService.params = {post: null}'>
            <mat-toolbar>
                <button
                        *ngIf='appUxService.asideMode === PUSH'
                        mat-button
                        class='app-icon-button back-btn'
                        matTooltip="Zurück"
                        matTooltipShowDelay='1500'
                        matTooltipHideDelay='1500'
                        (click)='aside.close()'>
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <span class='app-toolbar-title'>Details</span>
                <span class='app-toolbar-filler'></span>
                <button
                        mat-button
                        class='app-icon-button'
                        matTooltip="Neu laden"
                        matTooltipShowDelay='1500'
                        matTooltipHideDelay='1500'
                        (click)='appRoutingService.refresh([appService.POST])'>
                    <mat-icon>refresh</mat-icon>
                </button>
                <a
                        mat-button
                        class='button app-icon-button'
                        matTooltip="Facebook"
                        matTooltipShowDelay='1500'
                        matTooltipHideDelay='1500'
                        href='//facebook.com/{{params.post}}'
                        target='_blank'>
                    <mat-icon>open_in_browser</mat-icon>
                </a>
                <button
                        *ngIf='appUxService.asideMode === SIDE'
                        mat-button
                        class='app-icon-button close-btn'
                        matTooltip="Schließen"
                        matTooltipShowDelay='1500'
                        matTooltipHideDelay='1500'
                        (click)='aside.close()'>
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar>
            <ng-content select='aside'></ng-content>
        </mat-sidenav>
        <mat-toolbar>
            <button
                    mat-button
                    class='app-icon-button'
                    matTooltip="Menü"
                    matTooltipShowDelay='1500'
                    matTooltipHideDelay='1500'
                    (click)='nav.open()'>
                <mat-icon>menu</mat-icon>
            </button>
            <span class='app-toolbar-title'>{{title.getTitle()}}</span>
            <span class='app-toolbar-filler'></span>
            <span class='desktop-only'>
                <button
                        *ngIf='params.profile'
                        mat-button
                        class='app-icon-button'
                        matTooltip="Neu laden"
                        matTooltipShowDelay='1500'
                        matTooltipHideDelay='1500'
                        (click)='refresh()'>
                    <mat-icon>refresh</mat-icon>
                </button>
                <button
                        *ngIf='page && page.insights'
                        mat-button
                        class='app-icon-button'
                        matTooltip="Statistiken"
                        matTooltipShowDelay='1500'
                        matTooltipHideDelay='1500'
                        (click)='openInsightDialog()'>
                    <mat-icon>poll</mat-icon>
                </button>
                <button
                        *ngIf='params.profile'
                        mat-button
                        class='app-icon-button'
                        matTooltip="Dashboard"
                        matTooltipShowDelay='1500'
                        matTooltipHideDelay='1500'
                        [appLink]='{master: null}'>
                    <mat-icon>dashboard</mat-icon>
                </button>
                <a
                        mat-button
                        class='button app-icon-button'
                        matTooltip="Facebook"
                        matTooltipShowDelay='1500'
                        matTooltipHideDelay='1500'
                        href='//facebook.com/{{params.profile}}'
                        target='_blank'>
                    <mat-icon>open_in_browser</mat-icon>
                </a>
                <button
                        mat-button
                        class='app-icon-button'
                        matTooltip="Einstellungen"
                        matTooltipShowDelay='1500'
                        matTooltipHideDelay='1500'
                        (click)='openSettingsDialog()'>
                    <mat-icon>settings</mat-icon>
                </button>
            </span>
            <span class='mobile-only'>
                <button
                        mat-button
                        class='app-icon-button'
                        matTooltip="Menü"
                        matTooltipShowDelay='1500'
                        matTooltipHideDelay='1500'
                        [matMenuTriggerFor]='menu'>
                    <mat-icon>more_vert</mat-icon>
                </button>
            </span>
            <mat-menu #menu='matMenu'>
                <button
                        *ngIf='params.profile'
                        mat-menu-item
                        (click)='refresh()'>
                    <mat-icon>refresh</mat-icon>
                    Neu laden
                </button>
                <button
                        *ngIf='page && page.insights'
                        mat-menu-item
                        (click)='openInsightDialog()'>
                    <mat-icon>poll</mat-icon>
                    Statistiken
                </button>
                <button
                        *ngIf='params.profile'
                        mat-menu-item
                        [appLink]='{master: null}'>
                    <mat-icon>dashboard</mat-icon>
                    Dashboard
                </button>
                <a
                        mat-menu-item
                        href='//facebook.com/{{params.profile}}'
                        target='_blank'>
                    <mat-icon>open_in_browser</mat-icon>
                    Facebook
                </a>
                <button mat-menu-item (click)='openSettingsDialog()'>
                    <mat-icon>settings</mat-icon>
                    Einstellungen
                </button>
            </mat-menu>
        </mat-toolbar>
        <div id='displacer-target'></div>
        <ng-content select='main'></ng-content>
        <router-outlet></router-outlet>
    </mat-sidenav-container>
</div>

