<!-- HTML template for the MissingFeatureComponent -->
<div class='flex'>
    <md-card>
        <md-card-header>
            <md-card-title>Fehlendes Feature</md-card-title>
            <md-card-subtitle>Hier entsteht etwas neues</md-card-subtitle>
            <img md-card-avatar src='favicon.ico'>
        </md-card-header>
        <md-card-content>
            <p>
                Dieses Feature haben wir leider noch nicht fertig bekommen, 
                aber wir arbeiten daran, bitte habe noch etwas Geduld.<!--
            --></p>
        </md-card-content>
    </md-card>
</div>

