<!-- HTML template for the MissingFeatureComponent -->
<div class='flex'>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Fehlendes Feature</mat-card-title>
            <mat-card-subtitle>Hier entsteht etwas neues</mat-card-subtitle>
            <img mat-card-avatar src='favicon.ico'>
        </mat-card-header>
        <mat-card-content>
            <p>
                Dieses Feature haben wir leider noch nicht fertig bekommen, 
                aber wir arbeiten daran, bitte habe noch etwas Geduld.<!--
            --></p>
        </mat-card-content>
    </mat-card>
</div>

