
/*
 * Styling partial for the PostDialogComponent.
 *
 * This contains style directives locally applied to the PostDialogComponent.
 */

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

:host > * {
    flex-shrink: 0;
}

:host > md-dialog-content {
    flex-grow: 1;
    flex-shrink: 1;
}

