<!-- HTML template for the PostComponent -->
<md-spinner color='accent' *ngIf='!_loaded'></md-spinner>
<div *ngIf='post'>
    <div *ngIf='post.picture' class='picture'>
        <a [href]='post.link' target='_blank'>
            <img *ngIf='!video' [src]='post.picture'>
        </a>
        <video
                *ngIf='video'
                controls
                preload='metadata'
                [poster]='post.picture'>
            <source [src]='video.source'>
        </video>
    </div>
    <h2>
        <img [src]='post.from.picture'>
        <span>
            {{post.from.name}}
            <br>
            <small>{{post.name}}</small>
            <br>
        </span>
        <span>
            <span
                    mdTooltip="Likes"
                    mdTooltipShowDelay='1500'
                    mdTooltipHideDelay='1500'>
                <span class='text-primary'>
                    <md-icon>thumb_up</md-icon>
                </span>
                <span class='text-accent'>
                    {{post.likes.summary.total_count}}
                </span>
            </span>
            <span
                    mdTooltip="Shares"
                    mdTooltipShowDelay='1500'
                    mdTooltipHideDelay='1500'>
                <span class='text-primary'>
                    <md-icon>share</md-icon>
                </span>
                <span class='text-accent'>
                    {{post.shares ? post.shares.count : 0}}
                </span>
            </span>
        </span>
    </h2>
    <p>
        <a
                md-raised-button
                target='_blank'
                [disabled]='!post.link'
                [href]='post.link'>
            Anhang öffnen
            <md-icon>attach_file</md-icon>
        </a>
        <button
                md-raised-button
                color='primary'
                [disabled]='params.profile === post.from.id'
                [appLink]='utilService.profileLink(post.from.id)'>
            Profil zeigen
            <md-icon>account_box</md-icon>
        </button>
    </p>
    <blockquote>
        <p>{{post.text}}</p>
    </blockquote>
    <blockquote *ngIf='post.link' class='accent'>
        <p>
            <a [href]='post.link' target='_blank'>
                {{post.caption || post.link}}
            </a>
        </p>
        <p *ngIf='post.description'>{{post.description}}</p>
    </blockquote>
    <endless-list #commentList [input]='comments'>
        <comments [comments]='commentList.output'></comments>
    </endless-list>
</div>

