<!-- HTML template for the CommentComponent -->
<profile-card [profile]='_comment.from'>
    <div *ngIf='_comment.attachment' mat-card-image>
        <a *ngIf='!video' [href]='_comment.attachment.url' target='_blank'>
            <img [src]='_comment.attachment.media.image.src'>
        </a>
        <video
                *ngIf='video'
                controls
                preload='metadata'
                [poster]='_comment.attachment.media.image.src'>
            <source [src]='video.source'>
        </video>
    </div>
    <mat-card-content *ngIf='_comment.message'>
        <p>{{_comment.message}}</p>
    </mat-card-content>
    <mat-card-content *ngIf='comments.length'>
        <blockquote *ngFor='let comment of comments'>
            <p>
                <a [appLink]='utilService.profileLink(comment.from.id)'>
                    <strong>
                        <span class='text-primary'>@</span>{{comment.from.name}}
                    </strong>
                </a>
                <a
                        *ngIf='comment.attachment'
                        mat-button
                        color='accent'
                        class='app-icon-button'
                        [href]='comment.attachment.url'
                        target='_blank'>
                    <mat-icon>attachment</mat-icon>
                </a>
                <span *ngIf='comment.message'>
                    <br>
                    {{comment.message}}
                </span>
            </p>
        </blockquote>
    </mat-card-content>
    <mat-card-content *ngIf='!_loaded'>
        <mat-spinner color='accent'></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
        <a
                mat-button
                href='//facebook.com/{{_comment.id}}'
                target='_blank'>
            Facebook öffnen
            <mat-icon>open_in_browser</mat-icon>
        </a>
        <button
                mat-button
                color='primary'
                [disabled]='showProfileButtonDisabledStatus'
                [appLink]='utilService.profileLink(_comment.from.id)'>
            Profil zeigen
            <mat-icon>account_box</mat-icon>
        </button>
    </mat-card-actions>
    <mat-card-footer>
        <div>
            <p>
                <span
                        [matTooltip]='_comment.likeTooltip'
                        matTooltipShowDelay='1500'
                        matTooltipHideDelay='1500'>
                    <span class='text-primary'>
                        <mat-icon>thumb_up</mat-icon>
                    </span>
                    <span class='text-accent'>
                        <strong>{{_comment.like_count}}</strong>
                    </span>
                </span>
                <span
                        [matTooltip]='_comment.replyTooltip'
                        matTooltipShowDelay='1500'
                        matTooltipHideDelay='1500'>
                    <span class='text-primary'>
                        <mat-icon>reply</mat-icon>
                    </span>
                    <span class='text-accent'>
                        <strong>{{_comment.comment_count}}</strong>
                    </span>
                </span>
            </p>
        </div>
    </mat-card-footer>
</profile-card>

