
/*
 * Styling for the CommentComponent.
 *
 * This is a style locally applied to CommentComponent.  All styles specific to 
 * the CommentComponent are loaded here.
 *
 * This stylesheet contains at-rules only. The actual rules should go into the 
 * _comment.component partial, to keep things easier to restructure.
 */

@import '../mixins';
@import '../colors';
@import '_comment.component';

